{% extends "base.html" %}
{% block content %}

<div class="min-h-screen bg-gray-100 px-4">
<div class="max-w-4xl mx-auto space-y-8">

<div class="bg-white rounded-2xl shadow p-6 flex items-center justify-between">

  <div class="flex items-center gap-6">

      <label class="relative group cursor-pointer w-24 h-24 flex-shrink-0">

          <img
            id="avatarPreview"
            src="{% if profile.profile_photo %}
                    {{ profile.profile_photo.url }}
                 {% else %}
                    https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg
                 {% endif %}"
            class="w-24 h-24 rounded-full object-cover
                   border border-gray-300 shadow-sm"
          >

          <div class="absolute inset-0 rounded-full bg-black/40
                      opacity-0 group-hover:opacity-100
                      transition flex items-center justify-center">
            <i class="fa-solid fa-camera text-white"></i>
          </div>

          <input type="file"
                 name="profile_photo"
                 form="profileForm"
                 accept="image/*"
                 class="hidden"
                 onchange="previewAvatar(event)">
        </label>

    <div>
      <h2 class="text-xl font-semibold">
        {{ user.first_name|default:user.username }} {{ user.last_name }}
      </h2>
      <p class="text-gray-500">{{ user.email }}</p>
    </div>
  </div>
        <form method="POST" class="text-center mt-2">
  {% csrf_token %}
  <button type="submit"
          name="delete_photo"
          class="bg-indigo-600 text-white px-4 py-2 rounded-lg
                   hover:bg-indigo-500 transition">
      Remove photo
  </button>
</form>

  <!-- Profile Completion -->
  <div class="text-right">
    <p class="text-xs text-gray-500">Profile Completion</p>
    <div class="w-40 bg-gray-200 rounded-full h-2 mt-1">
      <div class="bg-indigo-600 h-2 rounded-full" style="width:{{ completion }}%"></div>
    </div>
    <p class="text-xs font-semibold mt-1">{{ completion }}%</p>
  </div>
</div>

<!-- ================= PERSONAL INFO FORM ================= -->
<form id="profileForm" method="POST" enctype="multipart/form-data" class="bg-white rounded-2xl shadow p-6 space-y-4">
{% csrf_token %}
<input type="hidden" name="update_profile">

<h3 class="text-lg font-semibold">Personal Information</h3>

<div class="grid md:grid-cols-2 gap-4">

  <div>
    <label class="text-sm text-gray-600">First Name</label>
    <input type="text" name="first_name" value="{{ user.first_name }}"
           class="w-full p-2 border rounded-lg ">
  </div>

  <div>
    <label class="text-sm text-gray-600">Last Name</label>
    <input type="text" name="last_name" value="{{ user.last_name }}"
           class="w-full p-2 border rounded-lg">
  </div>

  <div>
    <label class="text-sm text-gray-600">Email</label>
    <input type="email" value="{{ user.email }}" disabled
           class="w-full p-2 border rounded-lg bg-gray-100">
  </div>

  <div>
    <label class="text-sm text-gray-600">Phone Number</label>
    <input type="text" name="phone_number" value="{{ profile.phone_number }}"
           class="w-full p-2 border rounded-lg focus:ring-2 focus:ring-indigo-500">
  </div>

</div>

        <div class="flex items-end">
          <button type="submit"
          name="update_profile"
            class="bg-indigo-600 text-white px-6 py-2 rounded-lg
                   hover:bg-indigo-500 transition">
            Save Changes
          </button>
        </div>
</form>

<!-- ================= PASSWORD SECTION ================= -->
<div class="bg-white rounded-2xl shadow p-6">

{% if user.has_usable_password %}
<!-- Manual user -->
<form method="POST" class="space-y-4">
{% csrf_token %}
<input type="hidden" name="change_password">

<h3 class="text-lg font-semibold">Change Password</h3>

{% for field in password_form %}
<div>
<label class="text-sm text-gray-600">{{ field.label }}</label>
<input type="{{ field.field.widget.input_type }}" name="{{ field.name }}"
       class="w-full p-2 border rounded-lg focus:ring-2 focus:ring-red-500">
</div>
{% endfor %}

<button class="bg-red-600 text-white px-6 py-2 rounded-lg hover:bg-red-500">
Update Password
</button>
</form>

{% else %}
<!-- Google user -->
<div class="text-center space-y-3">
  <h3 class="text-lg font-semibold">Create Password</h3>
  <p class="text-gray-500 text-sm">
    You signed in with Google. Create a password to login using email too.
  </p>

  <a href="{% url 'forgot_password' %}"
     class="bg-indigo-600 text-white px-6 py-2 rounded-lg inline-block">
     Create Password
  </a>
</div>
{% endif %}

</div>

</div>
</div>

<script>
function previewAvatar(event) {
    const file = event.target.files[0];
    if (!file) return;

    const reader = new FileReader();
    reader.onload = function (e) {
        document.getElementById("avatarPreview").src = e.target.result;
    };
    reader.readAsDataURL(file);
}
</script>

{% endblock %}
