* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1505691938895-1758d7feb511") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.login-card {
    position: relative;
    width: 420px;
    background: rgb(166, 171, 175);
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 30px 60px rgba(0,0,0,0.3);
    text-align:left;
    ;
}

.field-label {
    font-weight:bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

.login-card h1 {
    margin-bottom: 5px;
    font-size: 28px;
    color: #3f1f1f;
}
.login-card p {
    
    font-size: 16px;
    color: #323768;
    font: weight 500px; ;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 12px;
    width: 100%;
}
 

.remember {
    display: flex;
    align-items:center;
    justify-content: flex-start;
    gap: 4px;
}

.remember input[type="checkbox"] {
    width: 16px;
    height: 16px;

    margin-top: 20px;
    cursor: pointer;

    /* accent-color: #4f46e5; */
}

.remember label {
    font-size: 14px;
    color: #000;
    cursor: pointer;
    line-height: 1;
}


.forgot-link {
    font-size: 14px;
    color: #4f46e5;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}



.subtitle {
    color: #666;
    margin-bottom: 25px;
}

.login-card label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-top: 15px;
    color: #141212;
}

.login-card input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.login-card input:focus {
    border-color: #4f46e5;
}

.login-card button {
    width: 100%;
    margin-top: 30px;
    padding: 14px;
    background: #4f46e5;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.login-card button:hover {
    background: #4338ca;
}

.bottom-text {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.bottom-text a {
    color: #4f46e5;
    text-decoration: none;
    font-weight: 500;
}
.info-text {
    font-size: 14px;
    color: #555;
    text-align: center;
    margin-bottom: 15px;
}

.back-link {
    text-align: center;
    margin-top: 15px;
}

.back-link a {
    text-decoration: none;
    color: #4f46e5;
    font-size: 14px;
}

.back-link a:hover {
    text-decoration: underline;
}
