body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #0f172a;
    color: white;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.btn {
    background: #2563eb;
    padding: 10px 18px;
    border-radius: 6px;
}

.hero {
    height: 70vh;
    background: url('/static/images/hero.jpeg') center/cover no-repeat;
    color: rgb(54, 12, 12);
    text-align: center;
    padding-top: 140px;
}

.hero h1 {
    font-size: 48px;
}

.why {
    padding: 10px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 250px;
}

.reviews {
    background: #1e293b;
    color: white;
    padding: 50px;
    text-align: center;
}

.review {
    margin: 20px auto;
    width: 60%;
}

.footer {
    background: #0f172a;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}
